env/*
.idea/*
*.pyc
*.db
*.dump
*.exe
!services/server/views/static/images/base/*
!services/server/views/static/images/battlemap/*
app/*
app

venv
node_modules
services/client/public/static/images/qr_codes/
services/client/public/static/images/uploads/

config.ini

index.js
/build/
/schema/
/services/client/src/components/dice/
