:root {
    --primary-lightest: #D2D8E2;
    --primary-light: #A3AEC2;
    --primary: #7383A1;
    --primary-dark: #506489;
    --primary-darkest: #314770;
}

body {
    margin: 0;
    padding: 0;
    font-family: Tahoma, Geneva, sans-serif;
    box-sizing: border-box;

}

.viewbox {
    display: flex;
    flex-flow: column;
    height: 100vh;
}

.header-wrapper {
    background-color: var(--primary-dark);
    padding: 8pt;

    display: flex;
    flex-direction: row;
}

.content-wrapper {
    display: flex;
    flex-direction: row;
    flex: 1;
}

.content-left-column {
    flex: 2;
    background-color: var(--primary-light);

    padding: 8pt;
}

.content-right {
    flex: 8;
    background-color: var(--primary-lightest);
}

#canvas {
    background-color: white;
    touch-action: none;
}

.slider-container div {
    flex: 1;
}

.slider-container input {
    flex: 5;
}


.toggle-wrapper div {
    flex: 1;
    text-align: center;
    user-select: none;
    padding: 4px;
    margin: 1px;
    background-color: var(--primary);
}

.toggle-wrapper .active {
    background-color: var(--primary-dark);
}

.toggle-wrapper div:hover {
    cursor: pointer;
    background-color: var(--primary-dark);
}

.user-text-input-field {
    width: 100%;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid var(--primary);
    box-shadow: inset 0 1px 3px var(--primary-light);
    border-radius: 4px;
    box-sizing: border-box;
    padding: 4px 8px;
}

.user-text-input-field:focus{
    box-shadow: 0 0 3px var(--primary-dark), inset 0 1px 4px var(--primary-light);
}

.user-button-input-field {
    width: 100%;
    margin: 8px 0;
    display: inline-block;
    border-radius: 4px;
    box-sizing: border-box;
    padding: 4px 8px;

    background-color: var(--primary);
    border: 1px solid var(--primary-darkest);
    box-shadow: inset 0 1px 3px var(--primary-dark);
}

.user-button-input-field:active {
    border: 1px solid var(--primary);
    background-color: var(--primary-dark);
    box-shadow: 0 0 3px var(--primary-lightest), inset 0 1px 4px var(--primary-light);

}

.row-flex-container {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.created-map-element {
    padding: 4px 8px;
    margin: 2px 4px;
    list-style: none;
    width: 100%;
    box-sizing: border-box;
    border-bottom: 1px solid var(--primary-dark);
    user-select: none;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.created-map-element:hover {
    background-color: var(--primary-dark);
    border-bottom: 1px solid var(--primary-darkest);
    border-radius: 4px;
}

.delete-button-icon {
    background-image: url('../images/base/trash_bin.svg');
    background-position: 0 0;
    background-repeat: no-repeat;
    height: 24px;
    width: 24px;
}