{% extends "base.html" %}

{% block content %}
    <div id="header">
        <div class="menu_toggle"></div>
        <div class="headerelem" id="currentuser"></div>
        <div class="headerelem" id="logout"><div class="header_button" onclick="window.location.href='/logout'">Log out</div></div>
        <div class="headerelem" id="settings"><div class="header_button" onclick="window.location.href='/settings'">Settings</div></div>
        <div class="headerelem" id="toggleviews"><div class="header_button" onclick="toggleViews()">Toggle Encounter/Campaign</div></div>
    </div>
    <div id="content">
        <div id="content_left">
            <div id="content_options">
                <div class="campaign" id="campaign_options">
                    <ul>
                        <li class="custom_button" onclick="buttonExpandCampaign()">Campaigns.</li>
                        <li class="custom_button" onclick="buttonExpandJoinedCampaign()">Joined Campaigns.</li>
                    </ul>
                </div>
                <div class="encounter" id="encounter_options">
                    <ul>
                        <li class="custom_button" onclick="clearEncounter()">Begin new encounter</li>
                        <li class="custom_button" onclick="buttonAddEnemy()">Add enemy</li>
                        <li class="custom_button" onclick="buttonAddPlayer()">Add player</li>
                        <li class="custom_button" onclick="sortInitiative()">Sort by initiative</li>
                    </ul>
                </div>
            </div>
            <div id="content_expanded">
                <div class="encounter" id="encounter_expanded">
                    <div id="content_expanded_enemy" style="display:none;">
                        Select the desired enemy you want to add and click 'Add'.<br>
                        <select id='content_selected_enemy'></select><br>

                        <button onclick='enemyList.addEnemy()'>Add To Game</button>
                        <button onclick='enemyList.deleteEnemy()'>Delete</button><p>

                        Add new enemy to the list of possible enemies.
                        <input class="new_item" id="new_enemy_name" type="text" placeholder="Naam">
                        <input class="new_item" id="new_enemy_maxhp" type="text" placeholder="Max HP">
                        <input class="new_item" id="new_enemy_armorclass" type="text" placeholder="Armor Class">
                        <input class="new_item" id="new_enemy_str" type="text" placeholder="Strength">
                        <input class="new_item" id="new_enemy_dex" type="text" placeholder="Dexterity">
                        <input class="new_item" id="new_enemy_con" type="text" placeholder="Constitution">
                        <input class="new_item" id="new_enemy_int" type="text" placeholder="Intelligence">
                        <input class="new_item" id="new_enemy_wis" type="text" placeholder="Wisdom">
                        <input class="new_item" id="new_enemy_cha" type="text" placeholder="Charisma">
                        <input type="submit" value="Add" onclick="addNewEnemy()">
                    </div>

                    <div id="content_expanded_player" style="display:none;">
                        Select the desired player you want to add and click 'Add'.<br>

                        <select id='content_selected_player'></select><br>
                        <button onclick='addPlayer()'>Add</button><p>

                        Add temporary player (will not get saved over sessions).
                        <input id="new_player_name" type="text" placeholder="Naam">
                        <input id="new_player_class" type="text" placeholder="Class">
                        <input type="submit" value="Add" onclick="addNewPlayer()">
                    </div>
                </div>
                <div class="campaign" id="campaign_expanded" style="display:none">
                    <div id="campaign_host">
                        Select the campaign you want to continue with and click 'Load'.<br>
                        <select id='content_selected_campaign'></select><br>

                        <button onclick='loadCampaign()'>Load</button><br>

                        Creating a campaign? Fill in a name and click 'Create'.<br>

                        <input id="new_campaign_name" type="text" placeholder="Naam">
                        <input type="submit" value="Create" onclick="createCampaign()">
                    </div>
                    <div id="campaign_player">
                        Select the campaign for which you want to see the overview.<br>
                        <select id='open_selected_campaign_overview'></select><br>

                        <button onclick='loadCampaignOverview()'>Open</button><br>
                    </div>

                </div>
            </div>
        </div>
        <div id="content_right">
            <div class="encounter" id="encounter_content">
                <table id="encounter_list">
                </table>
            </div>
            <div class="campaign" id="campaign_content" style="display:none">
                <div class="flex_row">
                    <div><img id="campaign_qr_image" src=""></div>
                </div>
                <div class="flex_row">
                    <div id="campaign_name" style="flex: 3;"></div><div class="custom_button" onclick="deleteCampaign()" style="flex: 1;">Delete</div><br>
                </div>

                <div class="flex_row">
                    <input id="campaign_link_url" type="text" disabled style="flex: 3;">
                    <div class="custom_button" onclick="copyUrl('campaign_link_url')" style="flex: 1;">Copy URL</div>
                </div>
                <div class="flex_row">
                    <input id="campaign_map_url" type="text" disabled style="flex: 3;">
                    <div class="custom_button" onclick="copyUrl('campaign_map_url')" style="flex: 1;">Copy URL</div>
                </div><br>
                <div id="campaign_content_wrapper">
                    <div id="campaign_content_left">
                        Joined players:<br>
                        <div id="players">
                        </div>
                    </div>
                    <div id="campaign_content_right">
                        <div class="pc_table_row">
                            <div class="pc_table_left">Owner of PC</div>
                            <div class="pc_table_right" id="pc_owner"></div>
                        </div>
                        <div class="pc_table_row">
                            <div class="pc_table_left" >Name</div>
                            <div class="pc_table_right" id="pc_name"></div>
                        </div>
                        <div class="pc_table_row">
                            <div class="pc_table_left">Class</div>
                            <div class="pc_table_right" id="pc_class"></div>
                        </div>
                        <div class="pc_table_row">
                            <div class="pc_table_left">Backstory</div>
                            <div class="pc_table_right" id="pc_backstory"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="popup" id="stats_popup">
        <button onclick="this.parentNode.style.display='none'" style="float: right; width: 5%;">X</button><br>
        <div id="stats_container">
            <div id="stats_name">
                test
            </div>
            <input type="text" id="stats_id" style="display:none">
            <div id="stats_left">
                <table>
                    <tr><td>Type</td><td>Value</td></tr>
                    <tr><td>Strength:</td><td><input type="text" id="stats_stre" disabled></td></tr>
                    <tr><td>Dexterity:</td><td><input type="text" id="stats_dex" disabled></td></tr>
                    <tr><td>Constitution:</td><td><input type="text" id="stats_con" disabled></td></tr>
                    <tr><td>Intelligence:</td><td><input type="text" id="stats_inte" disabled></td></tr>
                    <tr><td>Wisdom:</td><td><input type="text" id="stats_wis" disabled></td></tr>
                    <tr><td>Charisma:</td><td><input type="text" id="stats_cha" disabled></td></tr>
                    <tr><td>Armor Class:</td><td><input type="text" id="stats_ac" disabled></td></tr>
                </table>
            </div>
            <div id="stats_right">
                <div id="stats_abilities">
                    <input type="text" id="new_ability" placeholder="Add new ability here."><button onclick="addAbility()">Add</button><br>
                    <ul id="stats_abilities_list">

                    </ul>
                </div>
            </div>
            <br style="clear: both" />
        </div>
    </div>
    <div id="chatbox" style="display: none;">
        <div id="chat_header">
            Messages
            <button onclick="toggleChat()" style="float: right; width: 80px;">Minimize</button>
        </div>
        <div id="chat_messages">
        </div>

    </div>
    <div id="chatbox_expand" onclick="toggleChat()">
        chat
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        var HOST_ADDRESS = "{{ host }}"
    </script>
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
    <script src="{{ url_for('static', filename='js/chat.js') }}"></script>
    <script src="{{ url_for('static', filename='js/campaign.js') }}"></script>
    <script src="{{ url_for('static', filename='js/encounter.js') }}"></script>
{% endblock %}
