::-webkit-scrollbar {
    display: none;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: #151515;
    margin: 0;
    height: 100vh;
    overflow-y: hidden;
}

#header {
    display: flex;
    flex-direction: row;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
    margin: auto;
    background-color: blue;
    height: 5%;
}

#content {
    margin: inherit;
    width: 100%;
    background-color:grey;
    height:100%;
    overflow-y:scroll;
}

#content_left {
    padding: 5px;
    position: fixed;
    width: 25%;
    height:100%;
    float: left;
    background-color: #b3b3ff;
    overflow-y:scroll;
}

#content_left ul {
    list-style-type: none;
    padding: 0;
    width: 100%;
}

.custom_button {
    cursor: pointer;
    background-color: #9393c3;
}

.custom_button:hover {
    background-color: #A3A3D3;
}

.custom_list {
    background-color: #9393c3;
}

#content_left li{
    margin: 5px 0px;
    width: 94%;
    text-align: center;
    min-height: 20px;
    padding: 7px 3% 5px 3%;
}

#map_content {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.textbox {
    width: 90%;

}

.map_content_element {
    max-height: 33%;
    overflow-y: scroll;
}

#places div{
    margin: 5px 0px;
    width: 94%;
    text-align: center;
    min-height: 20px;
    padding: 7px 3% 5px 3%;
}

.dataform {
    padding: 0px 0px 5% 0px
}

#content_options {
    padding: 5px;
    margin: 2px;
    box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.3);
}

#content_expanded {
    padding: 5px;
    margin: 2px;
    box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.3);
}

input {
    width:90%;
}

#content_right {
    font-size: 18px;
    width: 75%;
    display: block;
    padding: 5px 5px 10px 5px;
    height: 94%;
    position: fixed;
    margin-left: 25%;
    margin-right: 0px;
    background-color: #c3c3ff;
    box-shadow: -2px -2px 5px 2px rgba(0, 0, 0, 0.3);
    overflow-y: scroll;
    text-align: center;
    background-size: cover;
}

#content_right table {
    padding: 10px;
}

#players div {
    cursor: pointer;
    margin: 2px;
    padding: 2px;
    background-color: #B3B3E3;
}
#players div:hover {
    background-color: #A3A3D3;
}

#playthrough_content_left {
    width: 40%;
    float: left;
    box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.2);
}

#playthrough_content_right {
    width: 59%;
    float: right;
    box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.2);
    flex-direction: row;
}

.pc_table_row {
    width: 100%;
    display: flex;
    flex-direction: row;
}

#stats_container {
    border-top: 1px solid grey;
    padding: 1% 3%;
    margin-top: 10px;
    background-color: #B3B3B3;
}

#stats_left {
    width: 50%;
    float: left;
    height: 100%;
}

#stats_right {
    width: 50%;
    float: right;
    height: 100%;
}

.popup {
    width: 70%;
    left: 0;
    right: 0;
    margin: 0 auto;
    background-color: #939393;
    display: none;
    position: absolute;
    top: 10%;
    box-shadow: 4px 4px 4px #A1A1A1;
    border: 3px;
    border-style: ridge;
    overflow-x:hidden;
    max-height:75%;
}

#stats_abilities_list {
    list-style-type: none;
}

.pc_table_left {
    padding: 2px;
    width: 20%;
}
.pc_table_right {
    width: 75%;
    padding: 2px;
}

#map {
    width: 100%;
    background-color: #FFF;
}

#content_right table tr:nth-child(1) {
    padding: 50px;
    font-weight: bold;
    background-color: #b3b3ff;
    box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.2);
}

#content_right table tr:nth-child(n+1) {
    padding: 5px 0;
}

.datadiv {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

#backstory[contenteditable]:empty:before {
    content: attr(div-placeholder);
    color: #555;
}

div[contenteditable] {
    -moz-appearance: textfield;
    -webkit-appearance: textfield;
    background-color: white;
    background-color: -moz-field;
    border: 1px solid darkgray;
    box-shadow: 1px 1px 1px 0 lightgray inset;
    font: -moz-field;
    font: -webkit-small-control;
    margin-top: 5px;
    padding: 2px 3px;
}

.encounter {
    display: none;
}

#content_right table td {
    /* aligns the table somehow */
    width: 5%;
}

.logindiv {
    background-color: grey;
    width: 40%;
    height: 100%;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
}

.clickabletext {
    cursor: pointer;
    color: blue;
}

.headerelem {
    text-align: center;
    flex: 1;
}
