<!DOCTYPE html>
<html>
    <head>
        <title>DnDool</title>

        <!-- Custom fonts loaded here -->
        <link href="https://fonts.googleapis.com/css?family=Dancing+Script" rel="stylesheet">

        <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    </head>

    <body>
        {% block content %}
        {% endblock %}
    </body>
    <script src="{{ url_for('static', filename='js/lib/requests.js') }}"></script>
    <script src="{{ url_for('static', filename='js/lib/date_format.js') }}"></script>
    <script src="{{ url_for('static', filename='js/lib/resize.js') }}"></script>
    {% block javascripts %}
    {% endblock %}
</html>
