<!DOCTYPE html>
<html>
<head>
    <title>TODO: title</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
</head>

<body>
    <div id="header">
        Hier komen de nav opties
    </div>
    <div id="content">
        <div id="content_left">
            <div id="content_options">
                <ul>
                    <li class="custom_button" onclick="clearEncounter()">Begin new encounter</li>
                    <li class="custom_button" onclick="buttonAddEnemy()">Add enemy</li>
                    <li class="custom_button" onclick="buttonAddPlayer()">Add player character</li>
                    <li class="custom_button" onclick="sortInitiative()">Sort by initiative</li>
                </ul>
            </div><p>
            <div id="content_expanded">
                <div id="content_expanded_enemy" style="display:none;">
                    Select the desired enemy you want to add and click 'Add'.<br>
                    <select id='content_selected_enemy'></select><br>

                    <button onclick='addEnemy()'>Add</button><p>

                    Add new enemy to the list of possible enemies.
                    <input id="new_enemy_name" type="text" placeholder="Naam">
                    <input id="new_enemy_maxhp" type="text" placeholder="Max HP">
                    <input type="submit" value="Add" onclick="addNewEnemy()">
                </div>

                <div id="content_expanded_player" style="display:none;">
                    Select the desired player you want to add and click 'Add'.<br>

                    <select id='content_selected_player'></select><br>
                    <button onclick='addPlayer()'>Add</button><p>

                    Add new players to the list of possible players.
                    <input id="new_player_name" type="text" placeholder="Naam">
                    <input id="new_player_class" type="text" placeholder="Class">
                    <input id="new_player_rest" type="text" placeholder="Andere Shit">
                    <input type="submit" value="Add" onclick="addNewPlayer()">
                </div>
            </div>
        </div>
        <div id="content_right">
            <table id="encounter_list">
            </table>
        </div>
    </div>
</body>
<script src="{{ url_for('static', filename='index.js') }}"></script>
</html>
