{% extends "base.html" %}

{% block content %}
    <div id="header">
        <div class="headerelem" id="currentuser"></div>
    </div>
    <div id="content">
        <div id="content_left">
            <div id="map_content">
                <div id="functions" class="map_content_element">
                    <button onclick="document.getElementById('upload_map').style.display='block'">Create Map</button>
                    <button onclick="curAction = actions.zoomIn">Zoom In</button>
                    <button onclick="curAction = actions.zoomOut">Zoom out</button>
                    <button onclick="curAction = actions.move">Move</button>
                    <button onclick="resize()">Resize</button>
                    <button onclick="addMarker()">Add place</button>
                </div>
                <div id="placeswrapper" class="map_content_element">
                    <center><b>Places:</b></center>
                    <div id="places">
                    </div>
                </div>
                <div id="map_data" class="map_content_element">
                    <input class="textbox" id="map_name" type="text" placeholder="Location name here."><br>
                    <textarea class="textbox" id="map_story" placeholder="Location story here."></textarea><br>
                    <button id="button_update">Update this data.</button>
                    <button id="button_loadmap">Load this map.</button>
                </div>
            </div>
        </div>
        <div id="content_right">
            <canvas id="map">

            </canvas>
        </div>
        <div class="popup" id="create_map">
            <button onclick="this.parentNode.style.display='none'" style="float: right">X</button><br>
            <div>
                <input id="create_map_file" type="file" value="file">
                <input id="create_map_name" type="number" placeholder="parent id" disabled>
                <input id="map_submit" type="button" value="Submit" onclick="createMap()">
            </div>
        </div>
        <div class="popup" id="select_marker_location">
            <button onclick="this.parentNode.style.display='none'" style="float: right">X</button><br>
            <div>
                <select id="map_id" style="display: none;">
                    <option value="map1">Map 1</option>
                    <option value="map2">Map 2</option>
                </select>
                <button>Connect</button>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        var PLAYTHROUGH_ID = "{{ pid }}"
    </script>
    <script src="{{ url_for('static', filename='js/map.js') }}"></script>
{% endblock %}
