{% extends "base.html" %}

{% block content %}
    <body>
        Register a new account:
        <form action="javascript:register();" method = "POST">
            <p>Name<input type="text" name="name"/></p>
            <p>Password<input type="password" name="pw"/></p>
            <p>Confirm Password<input type="password" name="pwconfirm"/></p>
            <p><input type = "submit" value = "submit" /></p>
        </form>
    </body>
{% endblock %}

{% block javascripts %}
    <script src="{{ url_for('static', filename='js/login.js') }}"></script>
{% endblock %}
