{% extends "base.html" %}

{% block content %}
<div id="header">
    <div class="menu_toggle"></div>
    <div class="headerelem" id="currentuser"></div>
</div>


<div id="content">

    <div id="chat" class="content_up">
    </div>

    <div id="message_content" class="content_down">
        <div id="message_send_wrapper">
            <input id="message_data" placeholder="Type message here"/>
            <button id="message_send" onclick="sendMessage()">Send Message</button>
        </div>
    </div>

</div>
{% endblock %}

{% block javascripts %}
<script>
    let CAMPAIGN_ID = "{{ pid }}"
</script>
<script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"
        integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
<script src="{{ url_for('static', filename='js/testbattlemap.js') }}"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='battlemap.css') }}">

{% endblock %}
