@import "colours.scss";
@import "constants.scss";

.audio-player-bar {
  box-sizing: border-box;
  background-color: $secondary;
  width: 100vw;
  height: $audio_bar_percent;

  display: flex;
  justify-content: center;
  align-items: center;

  & > * {
    padding: 0 4px;

    & > * {
      padding: 2px;
    }
  }
}