@import "main.scss";
@import "base.scss";

.enemy-list {
  @extend .player-list
}

.enemy-list-entry {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 100%;
  padding: 8px;

  &:hover {
    background-color: darken($primary, $hover_percent);
  }
}

.list-wrapper {
  @extend .disable-scrollbars;
  flex: 1;
  overflow-y: scroll;
  height: 100%;
}

.enemy-stats-column {
  display: flex;
  flex-direction: column;
  padding: 8px;

  & > * {
    margin-bottom: 4px;
  }
}

.abilities-column {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 8px;
  word-break: break-word;

  & > * {
    margin-bottom: 4px;
  }
}

.ability-list-entry {
  max-width: 100%;
  display: flex;
  padding: 4px 2px;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid darken($primary, 20%);

  &:hover {
    background-color: darken($primary, 5%);
  }
}