@import "colours";
@import "base";

.stats-column {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 80px;

  & > div {
    font-size: 10px;
  }

  .MuiTextField-root {
    width: 30px;

    .MuiInput-input {
      text-align: center;
    }
  }

  .stats-duo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    & > * {
      padding: 0;
      margin: 0;
    }
  }
}

.proficiencies-column {
  display: flex;
  flex-direction: column;
  align-items: end;

  width: 150px;

  & > div {
    font-size: 12px;
  }

  .stats-duo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    & > * {
      padding: 0;
      margin: 0;
    }
  }
}

.level-stat {
  width: 48px;
  height: 48px;

  line-height: 48px;
  text-align: center;
  font-size: 28px !important;

  background: url("../images/circle-claws.png");
  background-size: 48px 48px;
}

.proficiency-stat {
  font-size: 18px !important;
}

.spells-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 8px 16px;
  background-color: lighten($primary, 35%);

  & > div {
    margin-bottom: 4px;
  }
}

.inventory-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1px;
  padding: 8px;
  background-color: lighten($primary, 40%);

  & > div {
    margin-bottom: 4px;
  }
}

.basic-list {
  display: flex;
  flex-direction: column;
  max-height: 100%;

  padding: 8px;
  overflow-y: auto;
}

.spells-list {
  @extend .basic-list;
  text-align: start;

  & > div {
    padding: 4px;

    &:hover {
      background-color: darken($primary, 5%);
    }
  }
}

.items-list {
  @extend .spells-list;

  & > div {
    @extend .basic-list-entry;
    padding: 8px;
  }
}

.spell-prop-title {
  padding-right: 16px;
  font-weight: bold;
}

.item-prop-title {
  @extend .spell-prop-title
}